@font-face {
  font-family: "poppins";
  src: url(Fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Dotmatrix";
  src: url(Fonts/DOTMATRI.TTF);
}

body {
  font-family: "poppins";
  margin: 0;
  padding: 0;
  background: radial-gradient(#000000,rgb(26, 27, 26),black);
}
section {
  padding: 20px 0; /* Add padding to the top and bottom of each section */
}

/* Cursor Trail CSS */
.cursor-trail {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  width: 10px; /* Width of the trail */
  height: 10px; /* Height of the trail */
  background-color: rgba(13, 163, 50, 0.7); /* Change to your desired color */
  border-radius: 50%; /* Makes the trail circular */
  transform: translate(-50%, -50%); /* Centers the cursor trail */
  transition: transform 0.1s ease, opacity 0.1s ease; /* Smooth transition */
  opacity: 0; /* Initially invisible */
}

/* Trail animation */
.trail {
  position: absolute;
  width: 10px; /* Size of individual trail dots */
  height: 10px; /* Size of individual trail dots */
  background-color: rgba(13, 163, 50, 0.7); /* Color for the trail dots */
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%); /* Centers each dot */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  color: #0da332;
  font-size: 24px; 
  cursor: pointer;
}

.logo {
  color: white;
  font-size: 24px; 
}

.navlinks {
  list-style: none;
  display: flex; 
  padding: 0;
  margin: 0;
}

.navlinks li {
  margin-left: 20px;
}

.navlinks li a {
  text-decoration: none;
  color: #0da332; 
  padding: 8px 16px;
  border-radius: 4px;
  transition: background 0.3s;
}

.navlinks li a:hover {
  background-color: white; 
  color: black; 
}

@media (max-width: 768px) {
  .navlinks {
      display: none; 
      flex-direction: column; 
      position: absolute; 
      background-color: black; 
      top: 60px; 
      right: 0; 
      width: 100%; 
      padding: 1rem;
      z-index: 100; 
  }

  .navlinks.active {
      display: flex; 
  }

  .menu-btn {
      display: block; 
  }
}

#home {
  height: 50vh;
}

.content {
  text-align: center;
  margin-top: 50px; 
  margin-bottom: 100px;
}

.maincontent {
  display: inline-block; 
  text-align: center; 
}

.name {
  font-family: "Dotmatrix";
  font-size: 8rem;  
  color: white;
  text-shadow: 0 0 10px #8b6666;
}

.profession {
  font-family: "Dotmatrix";
  font-size: 3rem; 
  color: #0da332; 
  text-align: center; 
  margin-top: -40px; 
  margin-bottom: 50px;
}

.fade-in {
  opacity: 1; 
  transform: scale(1); 
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px; 
  cursor: pointer;
  position: absolute; 
  top: 10px; 
  right: 15px; 
}

#gallery {
  position: relative; 
  margin-top: 100px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
}

.gall {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.masonry {
  columns: 300px; 
  column-gap: 1em; 
  max-width: 1200px; 
  margin: 0 auto; 
}

@media (max-width: 768px) {
  .masonry {
    columns: 200px; 
  }
}

@media (max-width: 480px) {
  .masonry {
    columns: 100px; 
  }
}

.masonry img {
  width: 100%; 
  margin-bottom: 1em; 
  filter: grayscale(100%); 
  transition: filter 0.3s ease, box-shadow 0.3s ease; 
  box-shadow: 0 0 15px #0da332; 
}

.masonry img:hover {
  filter: grayscale(0%); 
  box-shadow: 0 0 15px #0da332; 
}

#education {
  height: 100vh;
  display: grid;
}

.education {
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
}

.education-header {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 3em;